body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #d166b3, #2a5298);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgb(210, 221, 225);
  padding: 50px;
  border-radius: 20px;
  width: 40%;
  height:80%;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  font-weight:800px;
}

h1 {
  margin-bottom: 50px;
  text-shadow: 0 8px 20px rgb(108, 127, 135);
}

.l{
  display: block;
  margin-top: 30px;
}

input {
  width: 40%;
  height:23px;
  padding: 8px;
  margin-top: 5px;
  border-radius:20px;
  background:whitesmoke;
  box-shadow: 0 8px 20px rgb(129, 146, 154);
}

.gen{
  width: 90%;
  height:50px;
  padding: 8px;
  margin-top: 30px;
  border-radius:20px;
  background:rgb(121, 201, 232);
  cursor: pointer;
  box-shadow: 0 8px 20px rgb(129, 146, 154);
}

.copy{
  width: 30%;
  height:50px;
  padding: 8px;
  margin-top: 30px;
  border-radius:20px;
  background:rgb(121, 201, 232);
  cursor: pointer;
  box-shadow: 0 8px 20px rgb(129, 146, 154);
}


button:hover {
  background: #184da8;
  color:white;
  transform: scale(1.05);
  transition: 0.3s ease;
  border:whitesmoke;
  font-weight:400;
}

.output {
  display: flex;
  gap: 5px;
  margin-top: 15px;
}

#result {
  flex: 1;
  margin-top:32px;
  margin-right:10px;
  height:30px;
}
